# <center> **Consultas en MySQL**

In [4]:
import pandas as pd
import numpy as np
import requests
from sqlalchemy import create_engine
import sys
import pymysql
import mysql
import mysql.connector

In [5]:
# Configuración para conexión
user='root'
password='astro123'
host='localhost'
database='sesna'

In [6]:
# coneccion
db= mysql.connector.connect(user=user, 
                            password=password,
                            host=host,
                            database=database)
#cnx.close()

Vamos a consultar la tabla INEGI de la base "SESNA".

In [7]:
consulta = pd.read_sql('SELECT * from inegi;', con=db)
consulta.head()

c:\Users\jcmartinez\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,CVE_ENT,NOM_ENT,NOM_ABR,CVE_MUN,NOM_MUN,CVE_LOC,NOM_LOC,AMBITO,LATITUD,LONGITUD,LAT_DECIMAL,LON_DECIMAL,ALTITUD,CVE_CARTA,POB_TOTAL,POB_MASCULINA,POB_FEMENINA,TOTAL_VIVIENDAS_HABITADAS
0,1,1.0,Aguascalientes,Ags.,1.0,Aguascalientes,1.0,Aguascalientes,U,"21°52´47.362N""","102°17´45.768W""",22.0,-102.0,1878.0,F13D19,863893,419168,444725,2
1,2,1.0,Aguascalientes,Ags.,1.0,Aguascalientes,94.0,Granja Adelita,R,"21°52´18.749N""","102°22´24.710W""",22.0,-102.0,1901.0,F13D18,5,nan,nan,2
2,3,1.0,Aguascalientes,Ags.,1.0,Aguascalientes,96.0,Agua Azul,R,"21°53´01.522N""","102°21´25.639W""",22.0,-102.0,1861.0,F13D18,41,24,17,1
3,4,1.0,Aguascalientes,Ags.,1.0,Aguascalientes,100.0,Rancho Alegre,R,"21°51´16.556N""","102°22´21.884W""",22.0,-102.0,1879.0,F13D18,0,0,0,0
4,5,1.0,Aguascalientes,Ags.,1.0,Aguascalientes,102.0,Los Arbolitos [Rancho],R,"21°46´48.650N""","102°21´26.261W""",22.0,-102.0,1861.0,F13D18,8,nan,nan,2

Podemos contar las localidades por cada municipio

In [14]:
consulta02 = pd.read_sql('SELECT CVE_MUN, NOM_MUN from inegi;', con=db)
consulta02.head()

   CVE_MUN         NOM_MUN
0      1.0  Aguascalientes
1      1.0  Aguascalientes
2      1.0  Aguascalientes
3      1.0  Aguascalientes
4      1.0  Aguascalientes